/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

/* COMMON */
body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/* UTILITIES */
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}
.x-align{
    justify-content: center;
}
/* MAIN */
main{
    height: 100vh;
}
.users{
    width: 100%;
    height: calc(100% - 12vh);
    padding: 40px;

    /* debug */
    background-color: brown;

}
.toolbar{
    width: 100%;
    height: 12vh;

    /* debug */
    background-color: blanchedalmond;
}

/* USERS */
.user-view{
    height: 15vh;
    width: calc(100% / 7 - 15px);
    min-width: 150px;
    margin-right: 3px;
    margin-bottom: 10px;
    position: relative;

    /* debug */
    background-color: blue;
    border: 1px solid black;
}

.username{
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(0,0,0, 0.3);
}

